.box{ padding:10px; border:1px solid green; }
#box1 { position:static; top:20px; right:30px }
#box2 { position:absolute; top:20px; left:30px }
#box3 { position:relative; top:20px; left:30px }
#box4 { position:fixed; top:20px; right:30px }